# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
.DS_Store
cache/
cache_forge/
compilation-errors.json
lib/
node_modules/
out/
typechain-types/
